@page "/"

<PageTitle>Index</PageTitle>

<h1>Velkommen til support</h1>

<p>En applikation lavet til IBAS, hvor man kan oprette og hente supporthenvendelser. 
    Applikationen er forbundet med en CosmosDB database.
</p>

<ul>
    <li><NavLink href="create-support">Opret ny henvendelse</NavLink></li>
    <li><NavLink href="support-list">Se alle henvendelser</NavLink></li>
</ul>
